################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/lab 8/v16/ipch/AutoPCH/f73bef1158b66edb/LAB 8.ipch
/.vs/lab 8/v16/Browse.VC.db
/.vs/lab 8/v16/Browse.VC.db-shm
/.vs/lab 8/v16/Browse.VC.db-wal
/.vs/lab 8/v16/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
